@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-1: #e1f5fe;
  --color-primary-2: #81d4fa;
  --color-primary-3: #29b6f6;
  --color-primary-4: #0288d1;

  --color-secondary-1: #f1f8e9;
  --color-secondary-2: #c5e1a5;
  --color-secondary-3: #9ccc65;
  --color-secondary-4: #689f38;

  --color-thirdary-1: #fbe9e7;
  --color-thirdary-2: #ffab91;
  --color-thirdary-3: #ff7043;
  --color-thirdary-4: #e64a19;

  --color-neutral-1: #ffffff;
  --color-neutral-2: #fafafa;
  --color-neutral-3: #eeeeee;
  --color-neutral-4: #bdbdbd;
  --color-neutral-5: #616161;
  --color-neutral-6: #353535;
  --color-neutral-7: #000000;

  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 24px;
  --spacing-6: 32px;
  --spacing-7: 40px;
}

@layer base {
  h1 {
    @apply text-[32px] leading-none font-bold;
    @apply xl:text-[40px];
  }
  h2 {
    @apply text-[28px] leading-none font-bold;
    @apply xl:text-[32px];
  }
  h3 {
    @apply text-2xl leading-tight font-bold;
    @apply xl:text-[28px];
  }
  h4 {
    @apply text-xl leading-tight font-bold;
    @apply xl:text-2xl;
  }
  h5 {
    @apply text-lg leading-normal;
    @apply xl:text-xl;
  }
  h6 {
    @apply text-base leading-normal;
    @apply xl:text-lg;
  }
  body {
    @apply text-sm leading-normal font-mono;
    @apply xl:text-base;
  }
  ul {
    @apply flex justify-center;
  }
}

@layer components {
  .nav-date-list::before {
    content: "";
    @apply w-full h-1 bg-[var(--color-neutral-6)] rounded-full absolute top-[29px];
  }
  .nav-date-item {
    @apply text-[var(--color-neutral-6)] relative transition-all duration-500;
    @apply hover:text-[var(--color-neutral-5)];
  }
  .nav-date-item::before {
    content: "";
    @apply w-4 h-4 bg-[var(--color-neutral-6)] rounded-full cursor-pointer absolute top-6 left-0 right-0 mx-auto transition-all duration-500;
    @apply hover:bg-[var(--color-neutral-5)];
  }
  .selection {
    @apply flex-1 flex justify-between items-center relative;
  }
  .option {
    @apply w-full bg-[var(--color-neutral-1)] rounded-[var(--spacing-2)] shadow-lg flex-col overflow-hidden hidden transition-all absolute top-[var(--spacing-5)];
  }
  .option > li {
    @apply w-full px-[var(--spacing-4)] py-[var(--spacing-2)] text-left;
    @apply hover:bg-[var(--color-neutral-3)];
  }
  .person-item {
    @apply flex gap-[var(--spacing-2)];
  }
}

@layer utils {
  .small {
    @apply text-xs leading-[1.75];
    @apply xl:text-sm;
  }
}

.react-svg-zoom-map {
  @apply relative;
}
.labels {
  @apply hidden;
}
