@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@font-face {
  font-family: Mantou Sans;
  src: local("饅頭黑體"),
    url("../src/fonts/MantouSans-Regular.ttf") format("truetype");
}

:root {
  --color-primary: #d4009b;
  --color-text-primary: #334155;
  --color-text-secondary: #64748b;
  --color-bg: #e9ecef;
  --color-hover: #f8f9fa;
  --color-line: #dee2e6;
  --color-role-1: #8082ff;
  --color-role-2: #f4a76f;
  --color-role-3: #57d2a9;

  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #ced4da;
  --color-gray-500: #adb5bd;
  --color-gray-600: #6c757d;
  --color-gray-700: #495057;
  --color-gray-800: #343a40;
  --color-gray-900: #212529;

  --color-default-white: #ffffff;
  --color-default-black: #000000;

  --sp-8: 8px;
  --sp-16: 16px;
  --sp-24: 24px;
  --sp-32: 32px;
  --sp-48: 48px;
  --sp-64: 64px;
  --sp-96: 96px;
  --sp-192: 192px;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
  h1 {
    @apply text-[33.52px] leading-normal font-bold tracking-[-0.8px] xl:text-[40px];
  }
  h2 {
    @apply text-[28.11px] leading-normal font-bold xl:text-[32px];
  }
  h3 {
    @apply text-[25.41px] leading-normal font-bold xl:text-[28px];
  }
  h4 {
    @apply text-[22.7px] leading-normal font-bold xl:text-[24px];
  }
  h5 {
    @apply text-xl leading-normal font-bold;
  }
  h6 {
    @apply text-base leading-normal font-bold;
  }
  ul {
    @apply flex items-center;
  }
}

@layer components {
  .map {
    background-image: url("../src/images/map.svg");
    @apply w-full h-full bg-no-repeat bg-contain;
  }
}

@layer utilities {
  .body1 {
    @apply text-base leading-normal;
  }
  .body2 {
    @apply text-sm leading-normal;
  }
  .small {
    @apply text-xs leading-normal xl:text-sm;
  }
}
